name: currency_widget
description: "A currency list of widgets which you can choose or get information about the currency"
version: 1.0.7
homepage: https://github.com/DecksPlayer/currency_widget
repository: https://github.com/DecksPlayer/currency_widget

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
topics:
  - currency
  - widgets
  - formatting
  - currencies
  - currency-picker

